
<div>
  Log Files:
  <% @log.file_list.each do |key, value| %>
  <%= link_to(value[:file_name].capitalize,
      log_file_dashboards_path(log_file: value[:file_name], date_range: { start: time_now, end: time_now }),
      html_options = {class: "btn btn-default",
      data: { confirm: "Log file size is #{ value[:file_size] } MB. Are you sure to open this file? " }}) %>
  <% end %>
</div>
<hr>

<% if @log_data[:error].present? %>
<p>
  <%= @log_data[:error] %>
</p>
<% end %>

<% if @log_data[:error].blank? %>
  <% @log_data[:logs_count].times do |index| %>
    <%= link_to(
        index + 1,
        log_file_dashboards_path(
          log_file: params[:log_file],
          page: index,
          date_range: { start: @log.start_date, end: @log.end_date, divider: set_divider(params) }
        )
      ) %>
  <% end %>
<% end %>
<hr>

<div class="form-group">
  <%= form_for :date_range, url: log_file_dashboards_path(log_file: params[:log_file]), method: :post do |f| %>
    <p>
      <%= label(:start,   :title, "Start Date:") %>
      <%= f.date_field(:start, value: @log.start_date, max: Date.today) %>
      <%= label(:end, :title, "End Date:") %>
      <%= f.date_field(:end, value: @log.end_date, max: Date.today) %>
      <%= label(:divider, :title, "Logs per page:") %>
      <%= f.number_field(:divider, value: set_divider(params)) %>
      <%= f.submit "Submit" %>
    </p>
  <%- end%>
</div>
<hr>

<%  @log_data[:paginated_logs].each do |line| %>
  <p>
    <%= check_highlight(line) %>
  </p>
<% end %>
