<%= render "partials/navbar", path_name: 'Hourly logs Dashboard' %>

<%= render "partials/error_pagination", log: @log, log_data: @log_data , locals: {path: "logs_dashboards_path"} %>

<div class="form-group">
  <%= form_for :date_range, url: logs_dashboards_path(log_file: params[:log_file]), method: :post do |f| %>
    <p>
      <%= label(:start,   :title, "Start Date:") %>
      <%= f.date_field(:start, value: @log.start_date, max: Date.today) %>
      <%= label(:end, :title, "End Date:") %>
      <%= f.date_field(:end, value: @log.end_date, max: Date.today) %>
      <%= label(:divider, :title, "Logs per page:") %>
      <%= f.number_field(:divider, value: set_divider(params)) %>
      <%= f.submit "Submit" %>
    </p>
  <%- end%>

<% if @log_data[:logs_count] > 0 %>
<p>
  <%= link_to("Clear logs",
      clear_logs_dashboards_path(log_file: params[:log_file]),
      html_options = {class: "clear_logs",
      method: :post,
      data: { confirm: "Are you sure to clear all logs? " }}) %>
</p>
<% end %>
</div>

<hr>

<%  @log_data[:paginated_logs].each do |line| %>
  <p>
    <%= check_highlight(line) %>
  </p>
<% end %>
