<!DOCTYPE html>
<html>
<head>
  <title>Rails pretty logger</title>
  <% if check_rails_version %>
    <%= csrf_meta_tags %>
  <% else %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <% end %>

  <%= stylesheet_link_tag    "rails/pretty/logger/application", media: "all" %>
  <%= javascript_include_tag "rails/pretty/logger/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
