<div class="logger_navbar">
  <div class="logger_navbar__heading">
    <h1><%= t("rails_pretty_logger.navigation.main_logs") %></h1>
  </div>

  <nav class="logger_navbar__actions">
    <%= link_to(path_name, hourly_logs_path, class: "dashboard_button") %>
  </nav>
</div>

<nav class="log-file-strip" aria-label="<%= t("rails_pretty_logger.navigation.log_files") %>">
  <span class="log-file-strip__label"><%= t("rails_pretty_logger.navigation.log_files") %></span>
  <% Rails::Pretty::Logger::PrettyLogger.get_log_file_list.each do |key, value| %>
    <%= link_to(trim_name(value[:file_name]),
      logs_dashboards_path(log_file: value[:file_name], date_range: { start: time_now, end: time_now }),
      html_options = {class: "#{is_file_active(value[:file_name], params)}",
      data: { confirm: t("rails_pretty_logger.confirmations.open_file", size: value[:file_size]) }}) %>
  <% end %>
</nav>
