<div class="logger_navbar">
  <p>
    <%= link_to('Main Logs',dashboards_path, html_options = {class: "dashboard_button"}) %>
    <%= link_to('Hourly Logs ', hourly_logs_path, html_options = {class: "dashboard_button"}) %>
  </p>
</div>
<hr>
<% if  @log_data[:logs_count] > 0 %>

<%= render "partials/error_pagination", log: @log, log_data: @log_data, locals: {path: "logs_hourly_logs_path"} %>

  <% if @log_data[:logs_count] > 0 %>
    <p>
      <%= link_to("Clear logs",
          clear_logs_hourly_logs_path(log_file: params[:log_file]),
          html_options = {class: "clear_logs",
          method: :post,
          data: { confirm: "Are you sure to clear all logs? " }}) %>
    </p>
  <% end %>
</div>


  <hr>

  <%  @log_data[:paginated_logs].each do |line| %>
      <%= check_highlight(line) %> <br>
  <% end %>

<% else %>

  <div>
    <h1 class="message">There is no log file to show</h1>
  </div>
<% end %>
